[Unit]
Description = service pour backup
After = network.target

[Service]
Type=oneshot
Environment="SCRIPT_PRE=/home/backup/pre_backup.sh"
Environment="SCRIPT=/home/backup/backup.sh"
Environment="SCRIPT_POST=/home/backup/backup_post.sh"
PIDFile=/var/run/backupDir/pid
User=backup
ExecStartPre=/usr/bin/sh ${SCRIPT_PRE}
ExecStart=/usr/bin/sh ${SCRIPT}
ExecStartPost=/usr/bin/sh ${SCRIPT_POST}
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy = multi-user.target